.school-tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .print-btn {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        border: none;
        padding: 0.8rem;
        border-radius: 4px;
        cursor: pointer;
        span {
            font-size: 16px;
        }
    }
}
